body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;

}
nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}